html, body {
	/*height: 100%;*/
}

body {
	padding: 12px;
	background: #444;
}

h1 {
	text-align: center;
}

div.page-wrapper {
	border: thin solid black;
	width: 1000px;
	/*height: 100%;*/
	margin: 0 auto;
	padding: 12px;
	background: #FFF;
}
